.reveal .slides section {
  .fragment.current-only {
    display: none;
    opacity: 1;
    visibility: visible;
  }

  .fragment.current-only.current-fragment {
    display: block;
  }
}

.line {
  display: block;
  border-left-color: #abcdef;
  border-left-style: solid;
  border-left-width: 5px;
  border-right-color: #abcdef;
  border-right-style: solid;
  border-right-width: 5px;

  &.focus {
    background: #fff;

    border-left-color: red;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: red;
    border-right-style: solid;
    border-right-width: 5px;

    // color: #657b83;

    // .hljs-addition,
    // .hljs-keyword,
    // .hljs-selector-tag {
    //   color: #859900;
    // }

    // .hljs-attr,
    // .hljs-attribute,
    // .hljs-class .hljs-title,
    // .hljs-template-variable,
    // .hljs-type,
    // .hljs-variable {
    //   color: #b58900;
    // }

    // .hljs-built_in,
    // .hljs-deletion {
    //   color: #dc322f;
    // }

    // .hljs-bullet,
    // .hljs-link,
    // .hljs-meta .hljs-keyword,
    // .hljs-meta,
    // .hljs-selector-attr,
    // .hljs-selector-pseudo,
    // .hljs-subst,
    // .hljs-symbol {
    //   color: #cb4b16;
    // }

    // .hljs-comment,
    // .hljs-quote {
    //   color: #93a1a1;
    // }

    // .hljs-doctag,
    // .hljs-literal,
    // .hljs-meta .hljs-meta-string,
    // .hljs-number,
    // .hljs-regexp,
    // .hljs-string {
    //   color: #2aa198;
    // }

    // .hljs-formula {
    //   background: #eee8d5;
    // }

    // .hljs-name,
    // .hljs-section,
    // .hljs-selector-class,
    // .hljs-selector-id,
    // .hljs-title {
    //   color: #268bd2;
    // }
  }
}
