.hljs {
  background: #ddd;
  color: #000;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-comment {
  color: #a7a7b0;
}

.hljs-emphasis {
  font-style: italic;
}

// like class, def, end
.hljs-keyword {
  color: #0000fd;
  font-weight: bold;
}

// address url
.hljs-link {
  color: #119453;
  font-style: italic;
}

// like nil
.hljs-literal {
  color: #c5060b;
}

// tag name between characters < and >
.hljs-name {
  color: #6911ff;
}

.hljs-number {
  color: #ff7800;
}

.hljs-string {
  color: #00b0b0;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-symbol {
  color: #5c5cb0;
}

// characters < and > and html properties like data-*
.hljs-tag {
  color: #126dff;
}

// like class name, method name
.hljs-title {
  color: #3669a2;
}

.hljs-addition,
.hljs-attribute,
.hljs-built_in,
.hljs-builtin-name,
.hljs-bullet,
.hljs-deletion,
.hljs-meta,
.hljs-quote,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-subst,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
}
